.container {
  padding: 4em 0;
}

.h3 {
  font-family: "Protest Strike", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--text-color);
  color: var(--highlight);
  letter-spacing: 0.1em;
  width: 100%;
  margin: 0 0 0.8em 0;
  text-align: center;
  padding: 30px;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
	min-width: 360px;
	height: auto;
	background: #f5f5f5;
  padding: 2em;
  margin: 1em;
  box-shadow: 0em 0.5em 1em var(--text-color);
  clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
}

.sewingService {
  position: relative;
  /* width: calc(50% - 1em); */
  width: calc(50% - 2em);
  /* width: 40em; */
  /* width: 90%; */
  max-width: 40em;
  /* height: 18em; */
}

.sewingService:nth-child(1) {
  transform: rotate(-3deg);
}

.sewingService:nth-child(2) {
  transform: rotate(1deg);
}

.cleaningService {
  width: 90%;
  max-width: 50em;
  /* height: 24em; */
  transform: rotate(-1.2deg);
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 30%;
}

.cardText {
  font-size: 1.2em;
	font-weight: 400;
}

.serviceName {
  display: flex;
	flex-direction: row;
	padding-top: 24px;
  /* padding: 1em; */
	/* margin: 1em 0; */
	align-items: center;
  display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.serviceName span:nth-child(1) {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 2em;
}

.serviceName span:nth-child(2) {
	font-family: sans-serif;
  margin-top: 1em;
	font-size: 1em;
}

.services ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.services li {
  margin: 0.4em;
  padding: 0.6em;
  text-align: center;
}

.markerHighlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=FFD166);
  margin: -2px -6px;
  padding:  2px  6px;
}

/* mobile phone */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .sewingService {
    height: 250px;
  }

  .cleaningService {
    font-size: 0.8rem;
    height: 300px;
  }
}

/* mobile phone */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .sewingService {
    height: 250px;
  }

  .cleaningService {
    font-size: 0.8rem;
    height: 320px;
  }
}

/* mobile phone */
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .sewingService {
    width: calc(100% - 1em); /* Set width to full width for single column layout */
    margin: 0.5em 0;
    height: 250px;
  }

  .cleaningService {
    font-size: 0.8rem;
    height: 380px;
  }
}
