.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
	min-width: 360px;
	max-width: 480px;
	height: auto;
	background: #f5f5f5;
  padding: 2em;
  margin: 1em;
	box-shadow: 0px 7px 24px rgba(100, 100, 100, 0.4);
}

.sewingService {
  width: 20em;
}

.cleaningService {
  width: 100em;
}

.cardText p {
  font-size: 30px;
	font-weight: 400;
	text-align: left;
}

.cardText p::after {
	content: "\201D";
	display: inline;
}

.cardText p::before {
  content: "\201C";
	display: inline;
}

.serviceName {
  display: flex;
	flex-direction: row;
	padding-top: 24px;
	margin-top: 12px;
	align-items: center;
  display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.serviceName span:nth-child(1) {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
}

.serviceName span:nth-child(2) {
	font-family: sans-serif;
	font-size: 12px;
}

.services ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 1em;
  justify-content: center;
}

.services li {
  border: 0.12em solid var(--text-color);
  border-radius: 0.8em;
  margin: 0.4em;
  padding: 0.6em;
  text-align: center;
}

.redButton {
  margin-bottom: 1em;
  width: 2em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background:
    radial-gradient(100% 10% at 50% 50%, #555 10%, transparent 10.5%),
    radial-gradient(10% 100% at 50% 50%, #444 10%, transparent 10.5%),
    radial-gradient(circle at 50% 37.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 62.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 37.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 62.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 50%, rgba(0,0,0,.25) 10%, transparent 12%),
    radial-gradient(circle at 50% 50%, transparent 50%, rgba(0,0,0,.25) 57%, transparent 60%, rgba(0,0,0,.75) 90%),
    var(--lee-red);
  text-align: center;
  font-family: system-ui;
  font-size: 24px;
  color: white;
  font-weight: 100;
  left: calc(50% - 12vh); /* Adjusted left position */
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  outline: 0;
  border: 0;
  transition: .75s;
  /* cursor: pointer; */
  z-index: 10;
  transform: rotate(5deg);
}

.greenButton {
  margin-bottom: 1em;
  width: 2em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background:
    radial-gradient(100% 10% at 50% 50%, #555 10%, transparent 10.5%),
    radial-gradient(10% 100% at 50% 50%, #444 10%, transparent 10.5%),
    radial-gradient(circle at 50% 37.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 62.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 37.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 62.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 50%, rgba(0,0,0,.25) 10%, transparent 12%),
    radial-gradient(circle at 50% 50%, transparent 50%, rgba(0,0,0,.25) 57%, transparent 60%, rgba(0,0,0,.75) 90%),
    var(--lee-green);
  text-align: center;
  font-family: system-ui;
  font-size: 24px;
  color: white;
  font-weight: 100;
  left: calc(50% - 12vh); /* Adjusted left position */
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  outline: 0;
  border: 0;
  transition: .75s;
  /* cursor: pointer; */
  z-index: 10;
  transform: rotate(5deg);
}

.tealButton {
  margin-bottom: 1em;
  width: 2em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background:
    radial-gradient(100% 10% at 50% 50%, #555 10%, transparent 10.5%),
    radial-gradient(10% 100% at 50% 50%, #444 10%, transparent 10.5%),
    radial-gradient(circle at 50% 37.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 62.5%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 37.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 62.5% 50%, var(--text-color) 10%, transparent 10.5%),
    radial-gradient(circle at 50% 50%, rgba(0,0,0,.25) 10%, transparent 12%),
    radial-gradient(circle at 50% 50%, transparent 50%, rgba(0,0,0,.25) 57%, transparent 60%, rgba(0,0,0,.75) 90%),
    var(--lee-teal);
  text-align: center;
  font-family: system-ui;
  font-size: 24px;
  color: white;
  font-weight: 100;
  left: calc(50% - 12vh); /* Adjusted left position */
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  outline: 0;
  border: 0;
  transition: .75s;
  /* cursor: pointer; */
  z-index: 10;
  transform: rotate(5deg);
}