.contact {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  padding: 0 0 4em 0;
  width: 100%;
  align-items: center;
  background-color: var(--head-foot-background);
  line-height: 1.8;
}

iframe {
  border-radius: 5%;
  /* border: 1px solid var(--text-color); */
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.h3 {
  font-family: "Protest Strike", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--text-color);
  color: var(--highlight);
  letter-spacing: 0.1em;
  width: 100%;
  margin: 0 0 0.8em 0;
  text-align: center;
  padding: 30px;
}

.contactItems {
  margin: 2em;
}

.contactItems ul li {
  margin: 0.5em 0;
}

.link {
  text-decoration: none;
  margin: 0.5em 0;
  word-spacing: 0.1em;
}

.link:hover {
  text-decoration: underline;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact span {
  margin-right: 0.6em;
}

.copyright {
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .contactItems {
    margin-bottom: 0.5em;
  }

  .contactItems ul {
    font-size: 1.2rem;
    text-align: center;
  }

  .copyright {
    margin-top: 3.5em;
  }
}

/* mobile phone */
@media only screen and (max-width: 480px) {
  iframe {
    width: 200px;
    margin: 0;
  }

  .container {
    margin: 0;
    width: 100%;
  }

  .copyright {
    padding: 5px;
  }
}