.contact {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  /* border-radius: 0.6em; */
  padding: 4em 0;
  /* width: 30em; */
  width: 100%;
  align-items: center;
  background-color: var(--head-foot-background);
  margin-bottom: 0.2em;
  line-height: 1.8;
}

.contactItems {
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  margin: 0.5em 0;
  word-spacing: 0.1em;
}

.link:hover {
  text-decoration: underline;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact span {
  margin-right: 0.6em;
}