.header {
  margin: 1.5em 0;
}

.h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color: green;
}

.h2 {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: red;
}