.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #DEC3BE;
  padding-top: 2em;
}

.h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color: var(--lee-green);
}

.ironImg {
  padding-right: 0.2em;
}

.plugImg {
  padding-left: 0.2em;
  transform: rotate(45deg);
}

.h2 {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--lee-red);
  margin: 0.4em 0;
}

.bubbles {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  color: white;
  background-color: var(--lee-green);
  border-radius: 0.6em;
  margin: 0.3em 4em;
  padding: 0.6em;
}

.link:hover {
  color: var(--page-background);
  cursor: pointer;
}

/* mobile phone */
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 6rem;
  }

  .header {
    padding: 2em 0 1em 0;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .ironImg,
  .plugImg {
    display: none;
    /* max-width: 20%; */
  }

  .bubbles {
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    font-size: 0.8rem;
    margin: 0.4em 0;
  }
}