.aside {
  display: flex;
  flex-direction: column;
  width: 16em;
  border: 0.2em solid black;
  border-radius: 0.6em;
  margin: 0.05em 0;
  padding: 0.8em;
}

.hours, .services {
  text-align: center;
  font-weight: 800;
  padding: 0.6em;
  width: 14em;
}

.hours ul {
  list-style-type: none;
  border: 0.12em solid black;
  border-radius: 0.8em;
  margin: 1em 0;
  padding: 1em 0 1em 0.6em;
  font-weight: 400;
  line-height: 1.8;
}

.services ul {
  list-style-type: none;
  font-weight: 400;
}

.services li {
  border: 0.12em solid black;
  border-radius: 0.8em;
  margin: 1em 0;
  padding: 0.8em;
  text-align: center;
}
