body {
  /*warm*/
  /* background-color: #ffebb5; */
  /*gray*/
  background-color: #f5e8c6;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hanger {
  width: 60vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sidebar-content {
  /* for Safari */
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right; */
  height: 100%;
  width: 150px;
  position: fixed;
  top: 1em;
  right: 8em;
}
