:root {
  --page-background: #E5D4CE;
  --head-foot-background: #DEC3BE;
  --lee-green: #21a02c;
  --lee-red: #FD0D02;
  --lee-teal: #21A094;
  --text-color: #3F2A2B;
  --highlight: #FFD166;
}

body {
  background-color: var(--page-background);
  height: 100vh;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--lee-green);
}

.hanger {
  width: 20vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
