:root {
  --page-background: #E5D4CE;
  --head-foot-background: #DEC3BE;
  --lee-green: #21a02c;
  --lee-red: #FD0D02;
  --lee-teal: #21A094;
  --text-color: #3F2A2B;
  --highlight: #FFD166;
}

body {
  background-color: var(--page-background);
  height: 100vh;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--lee-green);
}

h3 {
  font-family: "Protest Strike", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  /* background-color: var(--lee-teal); */
  /* background-color: var(--highlight); */
  background-color: var(--text-color);
  color: var(--highlight);
  letter-spacing: 0.1em;
  width: 100%;
  margin: 0 0 0.8em 0;
  text-align: center;
  padding: 1em;
}

.hanger {
  width: 20vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
